<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="http://bootstrapk.com/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Watch Network</title>
</head>
<body>
<h1>Welcome To Watch Network</h1>
<form method="POST" action="">
    ID <input type = "text" name = "AccountID"/>
    Password  <input type = "password" name = "Password"/>
    <input type = "submit" class="btn btn-primary" name = "button" value = "Check Profile">
      OR...
    <input type = "submit" class="btn btn-info" name = "button" value = "Sign in">
    <- 회원 가입
    <br>
    <br>
    You can also do:
    <input type = "submit" class="btn btn-primary" name = "button" value = "Search">
    or <input type = "submit" class="btn btn-primary" name = "button" value = "Recommend Movie">
    or <input type = "submit" class="btn btn-danger" name = "button" value = "Bye Bye">
</form>
</body>
</html>