<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="http://bootstrapk.com/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Movie Type Result</title>
</head>
<body>
Movie Type Results
<table border = 3 class = "table table-striped">
    <tr>
        <td>Movie ID</td>
        <td>Movie Name</td>
        <td>Movie Type</td>
    </tr>
    {% for val in details %}
    <tr>
        <td> {{ val[0] }}</td>
        <td> {{ val[1] }}</td>
        <td> {{ val[2] }}</td>
    </tr>
    {% endfor %}
</table>

<form method="POST" action="">
    <input type = "submit" class = "btn btn-default" name = "button" value = "Main Page"/>
</form>
</body>
</html>