<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="http://bootstrapk.com/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <title>Sign IN</title>
</head>
<body>
<h1>Sign In Form</h1>
<form method="POST" action="">
    First Name <input type = "text" name = "FirstName"/>
    Last Name <input type = "text" name = "LastName"/>
    <br>
    <br>
    ID <input type = "text" name = "AccountID"/>
    <br>
    Password <input type = "password" name = "Password"/>
    <br>
    <br>

    Email <input type = "text" name = "Email"/>
    <br>
    Phone Number <input type = "text" name = "PhoneNumber"/>
    <br>
    <br>
    Your Address<br>
    Country <input type = "text" name = "Country"/>
    <br>
    City, Province <input type = "text" name = "City_Province"/>
    <br>
    Street <input type = "text" name = "StreetAddress"/>
    ZipCode (example: 08090, 04493, ...) <input type = "number" name = "ZipCode"/>

    <br>
    <br>
    <input type = "submit" class = "btn btn-success" name = "button" value = "Submit">
    <input type = "submit" class = "btn btn-danger" name = "button" value = "Cancel">
</form>
</body>
</html>